<div class="container">
  <h1>Type Ruby code here </h1>
  <div class="col-md-8">
    <%= form_with url: code_path, id: "code-submit" do |form| %>
      <%= form.text_area :content, class: 'code-editor' %>
      <%= form.submit 'Execute!' %>
    <% end %>
  </div>
  <div class="col-md-4">

  </div>
</div>





<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#comment-submit').on('ajax:success', function(event, data) {
      console.log('GET RESPONSE!');
    });
  });
</script>

