<div class="container">
  <div class='row'>
    <div class="col-md-6">
      <h1>Type Ruby code here </h1>
      Example: <a href="https://github.com/VAR-solutions/Algorithms/blob/master/Sorting/Merge%20Sort/Ruby/merge_sort.rb"> Ruby merge sort </a>


      <textarea class="code-editor" name="content"></textarea>
      <button id='code-submit' class='btn btn-primary'> Execute! </button>
    </div>


    <div class="col-md-6">
      <h1>Result</h1>
      <div id='result'></div>
    </div>
  </div>
</div>



<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#code-submit').click(function(event) {
      var content = $('.code-editor').val();

      $.ajax({
        type: "POST",
        url: "code",
        data: { content: content },
        success: function (data) {
          $('#result').text(data.data);
        }
      });
    });
  });
</script>

